<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- MyBatis의 여러가지 환경 설정 -->
    
    <!-- 데이터베이스의 테이블 이름, 컬럼 이름들을 정의 -->
    <properties>
    	<!-- BOARDS -->
        <property name="TABLE_BOARDS" value="boards"/>
        <property name="COL_BNO" value="bno"/>
        <property name="COL_TITLE" value="title"/>
        <property name="COL_CONTENT" value="content"/>
        <property name="COL_USERID" value="userid"/>
        <property name="COL_REG_DATE" value="reg_date"/>
        <property name="COL_VIEW_CNT" value="view_cnt"/>
        <property name="COL_REPLY_CNT" value="reply_cnt"/>
        <property name="COL_ATTACHMENT" value="attachment"/>
		<!-- USERS -->        
        <property name="TABLE_USERS" value="users"/>
    	<property name="COL_PWD" value="pwd"/>
    	<property name="COL_EMAIL" value="email"/>
    	<property name="COL_POINTS" value="points"/>
    </properties>
    
    
    <typeAliases>
        <package name="edu.spring.ex02.domain"/>
    </typeAliases>

</configuration>